.about-image {
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid red;
}

.about-container {
    background-color: rgba(0, 0, 0, 0.4);
}

.card {
    color: white;
    background-color: black !important;
    border: 1px white solid;
}

.card-img-top {
    border: 1px white solid;
}

.card-title {
    font-family: dslayer;
    text-align: center;
    font-size: 26px;
}

.about-desc {
    margin: auto;
    width: 80%;
}

p {
    color: white;
}