/* Anime Page css */

#anime-page {
    background-color: rgba(0, 0, 0, 0.7);
}

#anime-poster {
    width: 350px;
}

@media only screen and (max-width: 860px) {
    #anime-banner {
        flex-direction: column;
    }
    #anime-poster {
        width: 300px;
    }
}

#anime-banner {
    padding-top: 15vh;
}

#anime-banner h1 {
    font-family: dslayer;
    color: white;
}

#anime-banner p {
    color: white;
}

#accordion .card {
    background: rgba(0, 0, 0, 0.0) !important;
}

#accordion .btn {
    font-family: dslayer;
    color: white;
}

#accordion .card-body {
    color: white;
    width: 500px;
}

.episode-image {
    width: 350px;
}

#animebg {
    position: fixed;
    width: 100%;
    z-index: -9;
}

#animebg-left {
    bottom: 0px;
}

#animebg-right {
    bottom: 0px;
}

h4 {
    text-align: left;
}

h5 {
    text-align: left;
}

@media only screen and (max-width: 414px) {
    h5 {
        font-size: 4vw;
    }
}