/* Navbar/Footer CSS */
@font-face {
    font-family: dslayer;
    src: url("../fonts/bloodcrow.ttf");
}

.navilogo {
    padding-right: 5vw;
}

.nav-item {
    font-family: dslayer;
    font-size: 22px;
    padding-right: 3vw;
}

.navbar {
    /* background-color: #8b0000; */
    opacity: 0.9;
    position:fixed;
    width: 100vw;
    z-index:10;
    margin-top:0px;
}

.bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(20%);
    z-index: -100;
}

/* Anime Page css */
#anime-banner {
    padding-top: 10vh;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
}

#anime-banner h1 {
    font-family: dslayer;
    color: white;
}

#anime-banner p {
    color: white;
}

#accordion .card{
    background: rgba(0,0,0,0.7) !important;
    border-radius: 10px;
}

#accordion .btn {
    font-family: dslayer;
    color: white;
}

#accordion .card-body {
    color: white;
}

.episode-image {
    width: 25vw;
}

#animebg {
    position:fixed;
    width:100%;
    z-index:-99;
}

#animebg-left {
    bottom:0px;
}