/* Anime Page css */
body {
    overflow: scroll;
}
#anime-banner {
    padding-top: 10vh;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
}

#anime-banner h1 {
    font-family: dslayer;
    color: white;
}

#anime-banner p {
    color: white;
}

#accordion .card{
    background: rgba(0,0,0,0.7) !important;
    border-radius: 10px;
}

#accordion .btn {
    font-family: dslayer;
    color: white;
}

#accordion .card-body {
    color: white;
}

.episode-image {
    width: 25vw;
}

#animebg {
    position:fixed;
    width:100%;
    z-index:-99;
}

#animebg-left {
    bottom:0px;
}