#char-viewer {
    position: relative;
    height: 100vh;
}

#chars-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#character-name {
    position: absolute;
    top: 14vh;
    left: 19vw;
    font-family: dslayer;
    font-size: 13vh;
    color: white;
    z-index: 2;
}

#character-lastname {
    position: absolute;
    top: 28vh;
    right: 52vw;
    font-family: dslayer;
    font-size: 8vh;
    color: white;
    z-index: 2;
}

#character-desc {
    position: absolute;
    bottom: 35vh;
    left: 19vw;
    background-color: rgba(0, 0, 0, 0.7);
    height: 20vh;
    width: 380px;
    color: white;
    border-radius: 10px;
    z-index: 10;
}

#character-portrait {
    position: absolute;
    bottom: 0%;
    right: 12vw;
}

.portrait-size {
    height: 85vh;
    object-fit: cover;
    animation: fadeIn 1s;
}

.desc-text {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.1rem;
}

#character-desc {
    overflow: auto;
}

.scroll-wrapper {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
}

.character-menu {
    width: 70%;
    height: 200px;
    padding: 0;
    margin: 0;
    margin: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: space-between;
}

li.char-icon {
    margin-left: 1vw;
    margin-right: 1vw;
    cursor: pointer;
    list-style: none;
    text-align: center;
    color: white;
    font-family: dslayer;
    font-size: 1.5rem;
    background-color: black;
    border-radius: 5px;
    width: 104px;
    height: 140px;
}

li.char-icon:hover {
    color: black;
    background-color: white;
}

.icon-size {
    width: 100px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
}

.all-characters-intro {
    background-color: rgba(0, 0, 0, 0.4);
}

h2.dsc-characters-title {
    color: white;
    font-family: dslayer;
    font-size: 8vh;
    text-align: center;
    padding-top: 3vh;
}

h3.dsc-characters-subtitle {
    color: white;
    font-family: dslayer;
    font-size: 6vh;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

img.dsc-image {
    width: 85%;
    margin: auto;
}

div.description-box {
    width: 77%;
    margin: auto;
}

p.organization-description {
    color: white;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

h2.dem-characters-title {
    color: red;
    font-family: dslayer;
    font-size: 8vh;
    text-align: center;
    padding-top: 3vh;
}

h3.dem-characters-subtitle {
    color: red;
    font-family: dslayer;
    font-size: 6vh;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

@media only screen and (max-width: 1030px) {
    #character-name {
        top: 8vh;
        left: 5vw;
        font-size: 10vh;
    }
    #character-lastname {
        top: 17vh;
        left: 5vw;
        font-size: 7vh;
    }
    #character-desc {
        bottom: 30vh;
        background-color: rgba(0, 0, 0, 0.7);
        height: 15vh;
        width: 700px;
        display:flex;
        align-items: center;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
    }
}

@media only screen and (max-width: 1023px) {
    #character-name {
        top: 14vh;
        left: 5vw;
        font-size: 10vh;
    }
    #character-lastname {
        top: 25vh;
        left: 5vw;
        font-size: 7vh;
    }
    #character-desc {
        bottom: 25vh;
        left: 5vw;
        background-color: rgba(0, 0, 0, 0.7);
        height: 20vh;
        width: 250px;
        display:block;
    }
    #character-portrait {
        bottom: 0%;
        right: 0;
    }
    .character-menu {
        width: 100%;
        height: 200px;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 414px) {
    h2.dsc-characters-title {
        font-size: 5vh;
    }
    h2.dem-characters-title {
        font-size: 5vh;
    }
    #character-name {
        top: 8vh;
        left: 5vw;
        font-size: 10vh;
    }
    #character-lastname {
        top: 17vh;
        left: 5vw;
        font-size: 7vh;
    }
    #character-desc {
        bottom: 28vh;
        background-color: rgba(0, 0, 0, 0.7);
        height: 15vh;
        width: 350px;
        display:block;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
    }
    .portrait-size {
        height: 75vh;
    }
}