/* Shared Navbar/Footer CSS */
@font-face {
    font-family: dslayer;
    src: url("../fonts/bloodcrow.ttf");
}

html {
  scroll-behavior: smooth;
}

.navilogo {
    padding-right: 1vw;
}

.nav-item {
    font-family: dslayer;
    font-size: 22px;
    padding-right: 1vw;
    padding-left: 1vw;
}

.navbar {
    opacity: 0.9;
    position:fixed;
    width: 100vw;
    z-index:20;
    margin-top:0px;
}

.bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(50%);
    z-index: -10;
}

/* footer */
.site-footer {
    background-color: #343a40;
    padding-bottom: 1%;
    z-index: 9;
}

.fa-facebook-square {
    color:white;
    font-size:2rem;
}

.fa-facebook-square:hover {
    color: red;
}

.fa-instagram {
    color:white;
    font-size:2rem;
}

.fa-instagram:hover {
    color: red;
}

.fa-youtube-play {
    color:white;
    font-size:2rem;
}

.fa-youtube-play:hover {
    color: red;
}

.fa-desktop {
    color:white;
    font-size:2rem;
}

.fa-desktop:hover {
    color: red;
}

.fa-google {
    color:white;
    font-size:2rem;
}

.fa-google:hover {
    color: red;
}

.fa-apple {
    color:white;
    font-size:2rem;
}

.fa-apple:hover {
    color: red;
}

.site-footer h2 {
    font-family: dslayer;
    font-size: 35px;
    text-align: center;
    color: white;
}

.socials-bar {
    padding-top: 2%;
}

.socials-bar a {
    margin-right: 2%;
    margin-left: 2%;
}

hr.solid {
  border-top: 1px solid #bbb;
}

.footer-logo {
    width: 8vw;
}

.footer-logo2 {
    width: 15vw;
}

.footer-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.footer-text {
    color:white;
    font-size: 1em;
}

a.footer-text:hover {
    color:red;
}

/* Shared scrollbar design */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Index page CSS */
body {
    overflow: hidden;
}

.pre-loader {
    width: 80px;
    height: 80px;

    border: 2px solid #f3f3f3;
    border-top: 3px solid red;
    border-radius: 100%;

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform:rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,1);
    position: fixed;
    left:0;
    top:0;
    z-index:100;
    text-align:center;
    transition: opacity 1s;
}

#overlay .loader-text {
    font-family: dslayer;
    color: white;
    padding-top: 13%;
    font-size: 5vw;
}

.home-image {
    position: relative;
}

.ds-image {
    width: 100%;
    height: 90%;
}

.download-game {
    position: absolute;
    bottom: 16%;
    left:28%;
    font-family: dslayer;
    font-size: 6vw;
    color: white;
}

.pcd-btn {
    position: absolute;
    width:18vw;
    bottom: 3%;
    left: 20%;
}

.ggl-btn {
    position: absolute;
    width:18vw;
    bottom: 3%;
    left: 41%;
}

.apl-btn {
    position: absolute;
    width:18vw;
    bottom: 3%;
    right: 20%;
}

.banner-logo {
    position: absolute;
    bottom: 10%;
    right: 2%;
    width: 18vw;
}