@font-face {
    font-family: dslayer;
    src: url("../fonts/bloodcrow.ttf");
}

/* .dsfont {
    font-family: dslayer;
    font-size: 30px;
    text-align: center;
    padding-right: 5vw;
    padding-top: 0px;
    padding-bottom: 0px;
} */

.bg-dark1 {
    background-color: #8b0000;
}

.navilogo {
    padding-right: 5vw;
}

.nav-item {
    font-family: dslayer;
    font-size: 20px;
    padding-right: 1vw;
}

.navbar {
    opacity: 0.97;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(20%);
}