body {
    overflow: scroll;
}

.support-image {
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid white;
}

.container {
    padding: 0 10vw 10vh 10vw;
    background-color: rgba(0, 0, 0, 0.5);
}

h3 {
    text-align: center;
    font-family: dslayer;
    color: white;
    font-size: 5vh;
    padding-top: 7vh;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p {
    color: white;
    text-align: center;
}

label {
    color: white;
}

#emailError, #nameError, #issueError, #descError {
    color: red;
}

#btn-color {
    background-color: black;
    color: white;
    border: 1px white solid;
}

#btn-color:hover {
    background-color: white;
    color: black;
    border: 1px white solid;
    box-shadow: 1px 1px 4px white;
}

@media only screen and (max-width: 414px) {
    .support-image {
        height: 28vh;
    }
}