body {
    overflow: scroll;
}

.container {
    padding: 0 15vw 10vh 15vw;
    background-color: rgba(0,0,0,0.5);
}

h3 {
    text-align: center;
    font-family: dslayer;
    color:white;
    font-size: 3vw;
    padding-top: 10vh;
}

p {
    color:white;
    text-align: center;
}

label {

}