.support-image {
    width: 100%;
    object-fit: cover;
}

.container {
    padding: 0 10vw 10vh 10vw;
    background-color: rgba(0, 0, 0, 0.5);
}

h3 {
    text-align: center;
    font-family: dslayer;
    color: white;
    font-size: 5vh;
    padding-top: 7vh;
}

p {
    color: white;
    text-align: center;
}

label {
    color: white;
}

#emailError, #nameError, #issueError, #descError {
    color: red;
}